<div class="main-content">

  <div class="container-fluid" style="background: #fff">
    <br>
    <div class="row">
      <form [formGroup]="LoyaltyPrgm" ng-bind="this._data=LoyaltyPrgm.value | json">
      <div class="col-lg-6 col-md-6 ">
        <md-form-field>
          <input formControlName="prgmName" mdInput placeholder="Program Name" value="">
        </md-form-field>
        <md-form-field>
          <input formControlName="prgmDescription" mdInput placeholder="Description" value="">
        </md-form-field>
      </div>
      <div class="col-lg-6 col-md-6">
        <md-form-field>
          <input formControlName="prgmStartDate" mdInput [mdDatepicker]="startDatePicker" [(ngModel)]="startDate" placeholder="Start date">
          <md-datepicker-toggle mdSuffix [for]="startDatePicker"></md-datepicker-toggle>
          <md-datepicker #startDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></md-datepicker>
        </md-form-field>
        <md-form-field>
          <input formControlName="prgmEndDate" mdInput [mdDatepicker]="endDatePicker" [(ngModel)]="endDate" placeholder="End date">
          <md-datepicker-toggle mdSuffix [for]="endDatePicker"></md-datepicker-toggle>
          <md-datepicker #endDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></md-datepicker>
        </md-form-field>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="button-row">
          <button md-raised-button>SAVE</button>
          <button md-raised-button color="primary">Cancel</button>
        </div>
      </div>
      </form>
    </div>
    <hr>
    <br>
    <div class="row">
      <form [formGroup]="slabForm" ng-bind="this._data=slabForm.value | json">
        <div formArrayName="itemRows" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Sno</td>
                <td>StartAmount</td>
                <td>EndAmount</td>
                <td>Points</td>
              </tr>
            </thead>
            <tbody>
              <!-- <h4>Invoice Row #{{ i + 1 }}</h4> -->
              <tr class="form-group" *ngFor="let itemrow of slabForm.controls.itemRows.controls; let i=index;" [formGroupName]="i">
                <td>{{ i + 1 }}</td>
                <td>
                  <div class="input-group">
                    <input type="number" min="0" [attr.id]="'baseAmount_' + i" formControlName="baseAmount" class="form-control">
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input type="number" min="0" [attr.id]="'endAmount_'+ i" formControlName="endAmount" class="form-control">
                  </div>
                </td>
                <td >
                  <div class="input-group">
                    <input type="number" min="0" [attr.id]="'allocatedPoints_'+ i" formControlName="allocatedPoints" class="form-control">
                  </div>
                </td>
                <td>
                  <span *ngIf="slabForm.controls.itemRows.controls.length==i+1" >
                <button type="button" (click)="addNewRow()" md-mini-fab color="primary">+</button>
                </span>
                </td>
                <td *ngIf="slabForm.controls.itemRows.controls.length > 1">
                  <span *ngIf="slabForm.controls.itemRows.controls.length==i+1" >
               
                <button  (click)="deleteRow(slabForm.controls.itemRows.controls.length-1)" md-mini-fab color="warn">-</button>
                </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </form>
      <pre>{{slabForm.value | json}}</pre>
      <pre>{{LoyaltyPrgm.value|json}}</pre>
    </div>
  </div>
</div>