form td{
    padding: 0 5px;
}
form table{
    width: 820px;
}
form table .input-group{
    float: none;
    text-align: center;
    display: inline-block;
    
}
tbody .form-group .form-control{
    background-image:none;
    background-size: inherit;
    border:1px solid#cec9c9;
    margin: 2px 0px;
    border-radius: 6px;
    background: #fff;
    width: 144px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th{
    border-top: none;
    border-right: 1px solid #e2e2e2;
    float: none;
    text-align: center;
}
/* .table-striped>tbody>tr {
    background-color:#dff0d8;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#d9edf7;
} */
input{
}